<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEAVE REJECT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body>
<h4 style = "text-align:center"><u>REJECT LEAVE</u></h4>
{% for i in all %}
<form style = "text-align:center" action = "/leavereject/{{ i.id }}/" method = "POST">{% csrf_token %}
    
    <section>
        <st>
USER ID: <input type = "text" name="userid" value = "{{i.userid}}" /> <br><br>
NAME:</td><td> <input type ="text" name="name" value = "{{i.name}}"><br><br>
STARTING DATE:</td><td> <input type = "text" name="startingdate" value = "{{i.startingdate}} "> <br><br>
ENDING DATE:</td><td> <input type = "text" name="endingdate" value = "{{i.endingdate}} "> <br><br>
REASON:</td><td> <input type = "text" name="reason" value = "{{i.reason}} "> <br><br>
STATUS:</td><td> <input type = "text" name="status" value = "REJECTED"> <br><br>
<form action = "/leavereject/{{ i.id }}/" method = "POST">{% csrf_token %}
    <input type = "submit" value="REJECT" class="btn btn-warning"><br><br>
        </st>
    </section>
    </form>
    {% endfor %}
</form>
<div>
    {% for message in messages %}
    <h4 style = "text-align:center">{{message}}</h4>
{% endfor %}
</div>
</body>
</html>
{% endblock %}