<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Employee Leave Details</title>

</head>
{% block content %}
<body>


    <div class="container">
        <h1><center>LEAVE DETAILS</center></h1>
        <table class="table">
          <thead>
            <tr>

                <th> EMPLOYEE NAME </th>
                <th> STARTING DATE </th>
                <th> ENDING DATE </th>
                <th> REASON OF LEAVE </th>
                <th> STATUS</th>
                    <th>ACTION</th>
                    <th>ACTION</th>
                </tr>
          </thead>
          {% for i in all %}
<tr>

<td>{{i.name}}</td>
<td>{{i.startingdate}}</td>
<td>{{i.endingdate}}</td>
<td>{{i.reason}}</td>
<td>{{i.status}}</td>
<td>

     <form action="/leaveedit/{{ i.id }}/" method = "GET">{% csrf_token %}
         <input type = "submit" class="btn btn-success" value = "APPROVE">
    </form>
</td>
<td>
    <form action="/leaveedit1/{{ i.id }}/" method = "GET">{% csrf_token %}
        <input type = "submit" class="btn btn-danger" value = "REJECT" >
    </form>
</td>
</tr>
    {% endfor %}
</table>
      </div>


</body>
</html>
{% endblock %}