<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER DASHBOARD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
    <body>
    <form action = "us" method="POST">
        <div class="container-fluid" style="background-color:#F44336;color:#fff;height:100px;text-align:center;">
        <h1>USER DASHBOARD</h1>
        </div>
        <ul>
            <li> <a href = "empleave"> LEAVE APPLICATION </a></li><br>
            <li> <a href = "leavestatus">LEAVE STATUS </a></li><br>
            
        </ul>
    </form>
    </body>
</html>
{% endblock %}